$white: #FFFFFF;
$black: #646464;
$dark-text:#646464;
$light-text:#767676;
$green:#07E565;
$placeholder: #C3C3C3;
$disabled: #E6E6E6;
$active: #A1E39E;
$default-font: 'Proxima-Regular';
$default-bold: 'Proxima-Bold';


.container{
width:100%;
padding:10px;
}

body, html {
  background: $white;
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
  background-size:cover;

}

header.header {
  padding:0px 40px 0px 20px;
  width:100%;
  margin: 0 1em;
  overflow: auto;

  h1.logo {
    float:left;
    margin: 60px 0px 0px 20px;
    font-size: 18px;
    color:$dark-text;
    font-family: "Proxima-Thin";
  }
  div.partners{
    margin:50px 90px 0px 0px;
    padding:10px 0px 0px 23px;
    width:70px;
    height:28px;
    font-size:14px;
    float:right;
    color:#7E7E7E;
    border:1px solid $green;
    border-radius:50px;
    font-family: "Proxima-Regular";

    :hover {
        color:white;
        background:$green;
        border:0px;
    }
  }
}

.form {
  padding: 3em;
  max-width: 80%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  text-align: center;

  h2 {
    margin-top:160px;
    font-size: 40px;
    font-family:"Proxima-Regular";
    line-height: 1.3em;
  }

  &__input {
    color: $black;
    font-family:'Proxima-Thin';
    padding-left:10px;
    border: none;
    border-bottom: 1px dotted $green;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3em;
    text-align:center;
    background: transparent;
    outline: none;


    &::-webkit-input-placeholder {
      color: $placeholder;
    }

    &::-moz-placeholder {
      color: $placeholder;
    }

    &--size {
      width: 150px;
    }

    &--post-code {
      width: 220px;
    }
  }

  &__selector {
    color: $placeholder;
    font-weight: 400;

    &-option {
      border-bottom: 1px dotted $green;
      cursor: pointer;
      font-size:40px;
      font-family:'Proxima-Thin';
      color:$placeholder;



      &--active {
        color: $black;
      }

      &--disabled {
        text-decoration: line-through;
      }
    }

    &-separator {
      font-style: italic;
      font-size: 32px;
      display: inline-block;
      margin: 0 0.5em;
    }
  }

  &__button {
    font-size: 18px;
    font-family:'Proxima-Thin';
    padding: 0.5em 1em;
    height:57px;
    color: $white;
    border: none;
    border-radius: 4px;
    background: $disabled;
    margin-top:80px;
    text-transform: uppercase;
    cursor: wait;

    &--active {
      background: $green;
      cursor: pointer;
    }
  }
}

.loading {
  background: rgba(255, 255, 255, 0.9);
  height: 600px;
  position: absolute;
  width: 100%;
  left: 0;

  &__inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
  }
}

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  &__rect {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;

    &--2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    &--3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    &--4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    &--5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.result-container{
width:80%;
margin-top:170px;
height:500px;
margin-left:auto;
margin-right:auto;
display:block;
}

.results-text{
font-family:'Proxima-Thin';
color:$green;
margin-bottom:20px;
font-size:1.2em;
}

.result-title{
font-size:1.1em;
color:$light-text;
padding-left:60px;
font-family:$default-bold;
}
.result-paragraph{
padding-left:60px;
color:#95989A;
font-family:$default-font;
line-height:1.4em;
font-size:1em;
margin-top:15px;
}
.image-banner{
width:120px;
color:white;
font-family:$default-font;
margin-bottom:10px;
height:30px;
background:$green;
z-index: 10;}

.result-amount{
font-size:1.6em;
color:#767676;
font-family:$default-bold;
float:left;
padding-left:60px;
margin-right:11px;
margin-top:20px;
}

.result-explainer{
font-size:1em;
color:#767676;
padding-top:25px;
font-family:$default-font;
}
.result-image{
width:100%;
height:100%;
z-index:1;
}
.result-button{
width:150px;
cursor:pointer;
height:50px;
color:white;
background:$green;
font-family:$default-font;
border:0px;
float:left;
margin-top:35px;
margin-left:-142px;
font-size:1.1em;
}

.result-button:hover{
background:#06C457;
}
.col-md-6{
width:50%;
padding:0px;
margin:0px;
float:left;
}

